

.agi-cat {

  display: flex;
  position: relative;
  border-bottom: 1px solid black;
  color: #e8e8e8;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 2px;
  cursor: pointer

}

.agi-cat:hover {

  background-color: #4367e7;

}

.agi-cat-level-1 {

  font-size: 0.7rem;
  background-color: #202020;
  padding-left: 10px;

}

.agi-cat-level-2 {

  font-size: 0.7rem;
  background-color: #323232;
  padding-left: 16px;

}

.agi-cat-level-3 {

  font-size: 0.7rem;
  background-color: #454545;
  padding-left: 24px;

}

.agi-pages-list {


  .ngx-dnd-item {
    margin: 5px;
    margin-left: 15px !important;
    margin-right: 0px !important;
    padding: 0px 0px 0px 0px !important;
    background-color: white !important;
    border: 1px solid #a8a8a8 !important;
    display: block;

  }


}

.menu-tree-item {
  background-color: #dbdbdb;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 0;
  padding-right: 0;
}


.agi-nag-tree {

  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 3px solid #b2b2b2;
  font-size: 0.9rem;
  font-weight: bold;

}





















