<h4 class="bbottom-grey">
  Konfiguracja
</h4>

<div>

  <a class="btn btn-outline-dark btn-block w-50"
     routerLink="/conf-categories">Szablony</a>

  <a class="btn btn-outline-dark btn-block w-50"
     routerLink="/conf-categories">Konfiguracja kategorii stron</a>

  <a class="btn btn-outline-dark btn-block w-50"
     routerLink="/conf-page-options-site-types">Typy parametrów stron</a>

  <a class="btn btn-outline-dark btn-block w-50"
     routerLink="/conf-categories">Inne opcje</a>

</div>