

.gallery-file-box {

  background-size: cover;
  background-position: center center;
  width: 250px;
  height: 150px;
  border: 2px solid #e8e8e8;
  display: block;
  position: relative;

}

.gallery-item-text {

  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  display: block;
  margin-top: auto;

}


.gallery-boxes .ngx-dnd-item {

  padding: 2px 2px 2px 2px !important;
  margin: 2px 2px 2px 2px !important;

}


